:root {
    --vermelhoSuave: #FE7867;
    --amarelo: #FAD400;

    --ciano: #90d4c5;
    --cianoEscuro: #2d7466;
    --cianoEscuroModerado: #458C7E;
    --cianoDesaturado: #25564B;

    --azulEscuro: #19536B;
    --azulDesaturado: #23303E;
    --azulCinza: #5A636C;
    --azulCinzaEscuro: #818498;

    --branco: white;
}

body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 1;
    /* font-family: 'Fraunces', serif; */
}

.titulo {
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    color: var(--azulDesaturado);
}

.texto {
    height: 100%;
    padding: 10rem;
}

.texto p {
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: var(--azulCinzaEscuro);
}

.link {
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--azulDesaturado)
}

.container-3 div {
    text-align: center;
}

.testemunhas {
    text-align: center;
}

.cliente {
    border-radius: 50%;
}

.testemunhas-galeria {
    display: flex;
    gap: 50px;
}

button {
    background-color: var(--branco);
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: var(--azulDesaturado);
}

.container {
    display: grid;
    width: 100%;
    height: 50rem;
    grid-template-columns: 50% 50%;
}

.banner {
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: var(--branco);
}

.testemunhas {
    padding: 10rem;
}

.ovo {
    background-image: url(images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.suco {
    background-image: url(images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.cereja {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.tangerina {
    background-image: url(images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.leite {
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.laranja {
    background-image: url(images/desktop/image-gallery-orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.casquinha {
    background-image: url(images/desktop/image-gallery-cone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.açucar {
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.images-pre-footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    height: 50rem;
}

.footer {
    width: 100%;
    height: 20rem;
    background-color: var(--ciano);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.footer h1 {
    color: var(--cianoDesaturado);
}

.redes-socias {
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.links-footer {
    display: flex;
    gap: 25px;
}

.links-footer a {
    color: var(--cianoDesaturado);
    text-decoration: none;
    opacity: 0.8;
}

.texto-sobre-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.texto-sobre-imagem p {
    padding: 0rem 10rem 5rem 10rem;
    color: var(--cianoDesaturado);
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

.links-menus {
    display: flex;
    gap: 50px;
    align-items: center;
}

.links-menus a {
    color: var(--branco);
    text-decoration: none;
}

.titulo-banner {
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
}

.titulo-testemunhas {
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: var(--azulCinzaEscuro);
    letter-spacing: 0.3rem;
}

.nome-cliente {
    font-family: 'Fraunces', serif;
    color: var(--azulDesaturado);
}

.testemunha p {
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {

    .banner {
        background-position-x: center;
    }

    .container {
        grid-template-columns: 100%;
    }

    .images-pre-footer {
        grid-template-columns: 50% 50%;
        height: 25rem;
    }

    .links-menus {
        display: none;
    }

    .texto {
        padding: 2rem;
        text-align: center;
    }

    .titulo {
        font-size: 2rem;
    }

    .texto-sobre-imagem p {
        padding: 0rem 2rem 1rem 2rem;
    }

    .titulo-testemunhas {
        font-size: 1rem;
    }

    .testemunhas {
        padding: 1rem;
    }

    .testemunhas-galeria {
        flex-wrap: wrap;
        gap: 100px;
    }
}